<h3>Alumnes de la plataforma</h3>
<div id="consultaFields">
    <label for="teacher">Formador: </label>
    <select id="teacher" name="teacher">
        <option value="all-teachers">All teachers</option>
    </select>
</div>
<table id="consultaTable">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Teacher</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<div class="pagination"></div>
<script src="../js/consulta_estudiantes.js" type="module"></script>